<%- include('include/_header')%>

<main class="container">
    <div class="login-form">
        <form method="post" id="admin-login-form">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="userName"> User name
                        <input type="text" name="userName">
                    </label>
                </div>
                <div class="form-group">
                    <label for="password"> Password
                        <input type="password" name="password">
                    </label>
                </div>
                <div class="form-group">
                        <input type="submit" value="Login">
                        <input type="reset" value="Reset">
                </div>
            </fieldset>
        </form>
    </div>

</main>

<%- include('include/_footer')%>