doctype html 
html 
    head 
        title E-Auction 
        block style 
        style 
            include ../static/base.css
    
    body 
        header#header 

            div#logo #[span E-Auction] #[br] A complete solution for managing online auctions, selling products and bids.
            
            
        nav#navbar 
            ul 
                block list 
                    //- li #[a(href="/")  Home] 
                    //- li #[a(href="/login")  Login]
                    //- li #[a(href="/signUp")  Sign Up]
                    //- li #[a(href="/itemRegister")  Item Registration]
                    //- li #[a(href="/contact")  Contact us]
            
        block content 

        //- footer#footer 
        //-     | © 2022 eAuction | All Rights Reserved