extends base.pug 

block list 
    li #[a(href="/")  Home] 
    li #[a(href="/contact")  Contact us]
    li #[a(href="#")  How it Works]
    li #[a(href="/itemRegister")  About Us]
    li(id="rightNav") #[a(href="/login")  Sign In/Sign Up]

block content 
    div.container
        div.firstGreeding
            h1 Hello There..  
        div.secondGreeding 
            h1 Your Welcome