<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>E-Auction</title>
</head>

<body>  
    <header id="header">
        <div class="logo">
            <h1><span>E</span>-Auction</h1>
            <p>A complete solution for managing online auctions, selling products and bids.</p>
        </div>
        <!-- <div class="reglog">
            <button><a href="/signUp">Register</a></button>
            <button><a href="/login">Log-In</a></button>
        </div> -->
    </header>